.project-header{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.project-container{
    margin-top: 100px;
    justify-content: center;
    display: flex;
    
}

.project-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 40vw;
}

.screenshot img{
    border: 30%;
    box-shadow: 1px gray;
}