.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

.about-education {
  padding-top: 100px;
  padding-bottom: 100px;
}
.education {
  width: 80%;
  padding-left: 10%;
}
.education h1 {
  text-align: center;
  font-size: 40px;
}
.card label {
  background-color: #f7f7f7;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
}

.card {
  border: 1px solid #f5f5f5;
  padding: 2%;
  width: 26%;
  -webkit-box-shadow: 0px 0px 21px 2px rgba(154, 242, 226, 0.42);
  box-shadow: 0px 0px 8px 2px rgba(154, 242, 226, 0.2);
}
.card:hover {
}

.card ul {
  margin: 0px;
  list-style-type: none;
  padding-left: 0;
}

.card ul li {
  width: 100%;
  border-bottom: 1px solid #efefef;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.card ul li:last-child {
  margin-bottom: 0;
}

.card ul li p,
.card ul li .year {
  font-size: 16px;
  color: #6e6e6e;
}

.card ul li p span {
  font-size: 18px;
  color: #0f172a;
  font-weight: 600;
}
.progress-bar {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
