.techstack-header{
    font-size: 40px;
    font-weight: 600;
    padding-left: 150px;
    padding-bottom: 50px;
    text-align:center;
    margin:5%;
}
.slideshow-1{
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
   overflow-x:clip;
   margin-left:100px;
    margin-bottom:8%;
}

.images:hover{
    animation-play-state: paused;
}
.images{
    background: white;
    position: absolute;
    margin-left:200px;
    margin-right:200px;
    height: 100%;
    animation: slideshow-1 2s linear infinite; 
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom:30px;
}

@keyframes slideshow-1 {
    0% {transform: translateX(0);}
    25% {transform: translateX(5%);}
    50% {transform: translateX(0);}
    75% {transform:  translateX(-5%);}
    100% {transform: translateX(0)}
}


.logo-card img{
    width: 80px;
    height: 80px;
}

.logo-card{
    width:5%;
    padding: 40px 40px 40px 40px;
    box-shadow: 0 0 20px #f5f5f5;
    margin-right: 20px;
}
